aiohttp==3.6.2
arrow==0.16.0
async-timeout==3.0.1
attrs==20.1.0
cassiopeia==4.0.13
certifi==2020.6.20
chardet==3.0.4
datapipelines==1.0.7
decorator==4.4.2
discord==1.0.1
discord.py==1.4.1
idna==2.10
idna-ssl==1.1.0
merakicommons==1.0.9
multidict==4.7.6
networkx==2.5
Pillow==7.2.0
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.5.1
